@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply m-0 box-border border-border p-0;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  html.lenis,
  html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden;
  }

  .lenis.lenis-scrolling iframe {
    @apply pointer-events-none;
  }
}

@layer utilities {
  .shadow-sm {
    /* todo: cleanup css */
    @apply shadow-none;
  }
}


.rings {
  position: relative;
}

.ring {
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.3),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
  border: 13px solid #ececec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring1 {
  height: 20rem;
  width: 20rem;
  animation: glow1 2.5s infinite;
}

@keyframes glow1 {
  60% {
    background-color: #ececec;
  }

  80% {
    background-color: var(--golden-glow);
  }

  100% {
    background-color: var(--golden-glow);
  }
}

.ring2 {
  height: 16rem;
  width: 16rem;
  animation: glow2 2.5s infinite;
}

@keyframes glow2 {
  40% {
    background-color: #ececec;
  }

  60% {
    background-color: var(--golden-glow);
  }

  100% {
    background-color: var(--golden-glow);
  }
}

.ring3 {
  height: 12rem;
  width: 12rem;
  animation: glow3 2.5s infinite;
}

@keyframes glow3 {
  20% {
    background-color: #ececec;
  }

  40% {
    background-color: var(--golden-glow);
  }

  100% {
    background-color: var(--golden-glow);
  }
}

.ring4 {
  height: 8rem;
  width: 8rem;
  animation: glow4 2.5s infinite;
}

@keyframes glow4 {
  0% {
    background-color: #ececec;
  }

  20% {
    background-color: var(--golden-glow);
  }

  100% {
    background-color: var(--golden-glow);
  }
}

.ring5 {
  height: 4.5rem;
  width: 4.5rem;
  animation: glow5 2.5s infinite;
}

@keyframes glow5 {
  0% {
    background-color: #ececec;
  }

  20% {
    background-color: var(--golden-glow);
  }

  100% {
    background-color: var(--golden-glow);
  }
}


.system {
  position: relative;
  max-width: 700px;
  padding-top: 100%;
}

@media (min-width: 700px) {
  .system {
    padding-top: 700px;
  }
}

.custom-spin-slow {
  animation: spin-text 10s linear infinite;
}

@keyframes spin-text {
  to {
    transform: rotate(360deg);
  }
}


.system__orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid slategray;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: spin infinite linear both;
}

.system__orbit.system__orbit--sun {
  border: none;
}

.system__orbit.system__orbit--mercury {
  animation-duration: 3s;
}

.system__orbit.system__orbit--venus {
  animation-duration: 3.6s;
}

.system__orbit.system__orbit--earth {
  animation-duration: 4.1s;
}

.system__orbit.system__orbit--mars {
  animation-duration: 7.8s;
}

.system__orbit.system__orbit--jupiter {
  animation-duration: 12.8s;
}

.system__orbit.system__orbit--saturn {
  animation-duration: 20.3s;
}

.system__orbit.system__orbit--uranus {
  animation-duration: 100.4s;
}

.system__orbit.system__orbit--neptune {
  animation-duration: 684.4s;
}

.system__orbit.system__orbit--pluto {
  animation-duration: 1028.6s;
}

.system__planet {
  position: absolute;
  top: 50%;
  left: -22px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  transform: translateY(-50%);
}

.system__icon {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.system__orbit:nth-child(1) {
  width: 15%;
  height: 15%;
}

.system__orbit:nth-child(2) {
  width: 25%;
  height: 25%;
}

.system__orbit:nth-child(3) {
  width: 35%;
  height: 35%;
}

.system__orbit:nth-child(4) {
  width: 45%;
  height: 45%;
}

.system__orbit:nth-child(5) {
  width: 55%;
  height: 55%;
}

.system__orbit:nth-child(6) {
  width: 65%;
  height: 65%;
}
.system__orbit:nth-child(7) { width: 75%; height: 75%; }
.system__orbit:nth-child(8) { width: 85%; height: 85%; }
/* .system__orbit:nth-child(7) { width: 70%; height: 70%; }
.system__orbit:nth-child(8) { width: 80%; height: 80%; }
.system__orbit:nth-child(9) { width: 90%; height: 90%; }
.system__orbit:nth-child(10) { width: 100%; height: 100%; } */

